{% extends "base.html" %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Sacramento&display=swap');

   body {
      padding: 0%;
      overflow-x: hidden;
   }
   * {
      box-sizing: border-box;
   }
   .left, .right, .center {
      float: left;
      width: 33.3333333333333333333333333333%;
      color: #361141;
      padding: 0px;
      height: 965px;
      text-align: center;
      overflow-x: hidden;
   }
   .left {
      background-color: #EACFF2;
   }
   .right {
      background-color: #EACFF2;
   }
   .center {
      background-color: WHITE;
   }
   .container:after {
      clear: both;
   }
</style>


<div class="banner">
    <body>
        <h1 style="text-align: center;font-size:30px; font-family:'PLayfair Display'; color:#361141">Frequently Asked Questions</h1>
            <div class="container">
                <div class="left">
                    <h1 style="text-align: center;font-size:30px; font-family:'Playfair Display'; color:#361141">Some text on the left</h1>
                </div>

                <div class="center">
                    <h1 style="text-align: center;font-size:30px; font-family:'Playfair Display'; color:#361141">Some text in center</h1>
                </div>

                <div class="right">
                    <h1 style="text-align: center;font-size:30px; font-family:'Playfair Display'; color:#361141">Some text on the right</h1>
                </div>
            </div>
    </body>
</div>
{% endblock %}
