{% extends "base.html" %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Sacramento&display=swap');

   body {
      padding: 0%;
      overflow-x: hidden;
   }
   * {
      box-sizing: border-box;
   }
   .left, .right, .center {
      float: left;
      width: 33.3333333333333333333333333333%;
      color: #361141;
      padding: 0px;
      height: 965px;
      text-align: center;
      overflow-x: hidden;
   }
   .left {
      background-color: #EACFF2;
   }
   .right {
      background-color: #EACFF2;
   }
   .center {
      background-color: WHITE;
   }
   .container:after {
      clear: both;
   }
</style>


<div class="banner">
    <body>

        <h1 style="text-align: center;font-size:30px; font-family:'PLayfair Display'; color:#361141">Frequently Asked Questions</h1>
            <div class="container">
                <div class="left">
                    <h1 style="text-align: center;font-size:30px; font-family:'Playfair Display'; color:#361141">
                        <strong>What Other Resources Do I Have?</strong> </br>
                        <h1 style="text-align: left;font-size:20px; font-family:'Playfair Display'; font-weight: normal; color:#361141";>
                            <i> <b> Abortion Funding: </i> </b> </br>
                            <a href="http://prochoice.org/think-youre-pregnant/naf-hotline/">National Abortion Federation: </a> <br> Offers unbiased information about abortion and financial assistance. <br>
                            <i> <b> Abortion Information: </i> </b> <br>
                            <a href="http://www.pregnancyoptions.info/whichmethod.htm"> Which Method Is Right For Me?:</a> <br> Provides information for people choosing between medication and aspiration abortion. <br>
                            <a href="https://www.reprolegalhelpline.org/">  If/When/How Repro Legal Helpline: </a> <br> If you have questions about your legal rights and self-managed abortion care. <br>
                            <a href="https://www.reprolegalhelpline.org/">  Miscarriage + Abortion Hotline: </a> <br> If you are experiencing miscarriage or abortion and need medical information and support, call or text the M+A team, a group of clinicians with experience in miscarriage and abortion care. <br>
                            <a href="https://prochoice.org/abortion-covid-19/">Abortion and COVID-19 Link</a> <br>
                </div>

                <div class="center">
                    <h1 style="text-align: center;font-size:30px; font-family:'Playfair Display'; color:#361141">
                    <strong>What are Crisis Pregnancy Centers why should I be wary of them?</strong> </br>
                        </h1>
                        <h1 style="text-align: left;font-size:20px; font-family:'Playfair Display'; font-weight: normal; color:#361141"; >
                            Crisis pregnancy centers (also referred to as pregnancy resource centers) intercept women who are considering abortions and attempt to dissuade them from their decision. Centers may intentionally try to misrepresent themselves online, such as implying they offer abortion services or listing inaccurate risks. These centers are usually religiously affiliated and offer services such as pregnancy tests and resources, along with an anti-abortion message. They work to actively disempower women from making one of the most important choices they'll ever make.
                </div>

                <div class="right">
                    <h1 style="text-align: center;font-size:30px; font-family:'Playfair Display'; color:#361141">
                    <strong>What other services does Planned Parenthood offer?</strong> </br>
                        </h1>
                        <h1 style="text-align: left;font-size:20px; font-family:'Playfair Display'; font-weight: normal; color:#361141"; >
                            <ul> <li>Contraception</li><li>Reproductive cancer screenings (like breast, cervical, testicular, and prostate cancers)</li><li>Pap smears</li><li>Woman wellness exams</li><li>Vaccines</li><li>Transgender health services (including hormone replacement therapy)</li><li>Pregnancy services</li><li>Prenatal care</li><li>Condoms</li><li>Sexual health counseling</li><li>Ultrasounds</li><li>And much more...</li> </ul>
                </div>
            </div>
    </body>
</div>
{% endblock %}
