{% extends "base.html" %}

{% block content %}
    <h1>
        <div class="banner">
             <center>
            <p style = "font-size:30px; font-family:'Playfair Display'; color:#361141">
            Click on a State For Information about Abortion Access per State
            </p>
                 <iframe src="https://createaclickablemap.com/map.php?&id=100979&maplocation=false&online=true" width="1500" height="875" style="border: none;"></iframe>
<script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } </script>
             </center>
            </p>
        </div>
    </h1>

{% endblock %}
